@charset "UTF-8";

$tit_color : #1d1d1d;
$white : #fff;
$main_color : #2d2d2d;
$sub_color : #3d3d3d;
$grey_100 : #666;
$grey_200 : #a9a9a9;
$grey_300 : #ddd;
$point_100 : #005BAA;
$point_200 : #60799D;
$point_300 : #E6E9EC;
$point_400 : #74D1CC;
$point_500 : #5E8FCA;
$point_700 : #092A6C;
$point_800 : #E0F0FF;
$font_default : 15px;
$font_large : 36px;
$font_medium : 26px;
$font_regular : 18px;
$font_small : 14px;
@mixin shadow  {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .1);
}
@mixin border-radius_5 {
    border-radius: 5px;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
@mixin content {
    content: "";
}
@mixin left_50 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin translate {
    transform: translate(-50%,-50%);
}
@mixin transformX {
    transform: translateX(-50%);
}
@mixin transformY {
    transform: translateY(-50%);
}
@mixin none {
    display: none;
}
@mixin position_left {
    position: absolute;
    left: 0;
}
@mixin position_right {
    position: absolute;
    right: 0;
}
@mixin block {
    display: block;
}
@mixin background {
    background-position: center center;
    background-repeat: no-repeat;
}
@mixin font_none {
    line-height: 0;
    font-size: 0;
}

@mixin font-face($name, $path, $weight: null, $style: normal, $exts: otf ttf woff woff2) {
    $src: null;
    $formats: (
      otf: 'opentype',
      ttf: 'truetype',
      woff: 'woff',
      woff2: 'woff2'
    );
    @each $ext in $exts {
      $format: map-get($formats, $ext);
      $src: append($src, url(quote($path)) format(quote($format)), comma);
    }
    @font-face {
      font-family: quote($name);
      font-style: $style;
      font-weight: $weight;
      src: $src;
    }
  }
  
/* 적용 예 */
@include font-face (
    'SCoreDreamRegular',
    '../fonts/SCoreDreamRegular.woff ',
    400,
    normal,
    woff
);
@include font-face(
    'SCoreDreamMedium',
    '../fonts/SCoreDreamRegular.woff2 ',
    400,
    normal,
    woff2
);
@include font-face (
    'SCoreDreamMedium',
    '../fonts/SCoreDreamMedium.woff ',
    500,
    normal,
    woff
);
@include font-face(
    'SCoreDreamMedium',
    '../fonts/SCoreDreamMedium.woff2 ',
    500,
    normal,
    woff2
);
@include font-face (
    'SCoreDreamBold',
    '../fonts/SCoreDreamBold.woff ',
    600,
    normal,
    woff
);
@include font-face(
    'SCoreDreamBold',
    '../fonts/SCoreDreamBold.woff2 ',
    600,o
    normal,
    woff2
);
@include font-face (
    'SCoreDreamExtraBold',
    '../fonts/SCoreDreamExtraBold.woff ',
    700,
    normal,
    woff
);
@include font-face(
    'SCoreDreamExtraBold',
    '../fonts/SCoreDreamExtraBold.woff2 ',
    700,
    normal,
    woff2
);

html, body {
    font-family: 'SCoreDream',"Malgun Gothic", "Apple SD Gothic Neo", "Pretendard Variable",'Nanum Myeongjo', "Noto Serif", serif;
    font-size: $font_default;
    color: $main_color;
    font-weight: 400;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1600px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 100%;
    overflow: hidden; /*sticky 사용할 때는 쓰면 안됨*/
}
.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000;
    width: 100%;
    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;    
        color: #fff;
        background: rgba(0, 0, 0, .6);
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding-top: 15px;
    }
    a[href="#gnb"] {
        background: #ddd;;
    }
    a:focus {
        top: 100px;
    }
}

