@charset "utf-8";/*이 css문서는 utf-8방식으로 인코딩 되어 있습니다. */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');/*영문웹폰트*/
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff2) format('woff2'), url(../fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(../fonts/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}

/*한글웹폰트*/
*::selection {
    background-color: #00FF19;
    color: #1d1d1d;
}
*::-moz-selection { /*호환성을 위한 코드*/
    background-color: #00FF19;
    color: #1d1d1d;
}
/*font-family에 여러 폰트를 쓰는 것은 순서대로 적용이 된다.*/
body {
    font-family: 'Cormorant', 'Pretendard', sans-serif;
    font-size: 15px;
    color: #1d1d1d;
    font-weight: 400;
    line-height: 1.4;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1740px; /* 넓이 제한 */
    margin: 0 auto; /* 센터 */
}
#wrap { /*id="wrap"에 적용되는 스타일 */
    min-width: 100%;
    overflow: hidden; /*sticky 사용할 때는 쓰면 안됨*/
}
