@import url(../css/common.css);
@import url(../css/layout.css);
@import url(../css/default.css);

section {
    width: 100vw;
}
.main {
    position: relative;
    color: #fff;
    background: url(../images/visual_bg.png) no-repeat center center;
    height: 100vh;
}
.main .inner {
    font-size: 150px;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(0 , -50%);
    display: flex;
    align-items: flex-end;
}
.main .tit {
    font-style: italic;
    line-height: 0.8;
}
.main .tit02 {
    margin-left: 1.1em;
}
.main .tit03 {
    margin-left: 0.3em;
}
.main .tit strong {
    font-size: 200px;
}
.main .inner .right {
    margin: 0 0 25px -90px;
}
.main .inner .sub {
    font-size: 18px;
    font-weight: 400;
}
.main .inner .sub span {
    display: block;
    line-height: 1.4;
}
.call {
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 102;
    opacity: 1;
    transition: all 0.3s;
}
@keyframes circle { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:rotate(0) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:rotate(360deg) } /* 애니메이션이 종료될때의 속성 */
}
.call .inner {
    background-color: #0d0d0d;
    border: 1px solid #fff;
    min-width: 150px;
    height: 150px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    box-shadow: 2px 2px 10px rgb(255 255 255 / 40%);
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    animation: circle 8s linear infinite;
}
.call ul {
    max-width: 0;
    overflow: hidden; 
    transition: max-width 500ms , opacity .3s; 
    opacity: 0;
} 
.call .inner ul li a {
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    font-size: 24px;
}
.call .inner ul li + li {
    margin-top: 20px
}
.call .inner ul li a span {
    display: block;
    position: relative;
    padding-left: 40px;
}
.call .inner ul li a span::before {
    position: absolute;
    left: 0;
    top:5px;
    width: 21px;
    height: 21px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.call .inner ul li a.e-mail span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_170_461' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='22'%3E%3Crect y='0.803467' width='20.2979' height='20.2979' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_170_461)'%3E%3Cpath d='M3.64311 17.2955C3.2159 17.2955 2.85429 17.1475 2.55828 16.8515C2.26226 16.5555 2.11426 16.1939 2.11426 15.7667V6.1382C2.11426 5.71099 2.26226 5.34937 2.55828 5.05336C2.85429 4.75735 3.2159 4.60934 3.64311 4.60934H16.6546C17.0818 4.60934 17.4434 4.75735 17.7394 5.05336C18.0354 5.34937 18.1834 5.71099 18.1834 6.1382V15.7667C18.1834 16.1939 18.0354 16.5555 17.7394 16.8515C17.4434 17.1475 17.0818 17.2955 16.6546 17.2955H3.64311ZM10.1488 11.4241L16.9148 7.09774L16.7847 5.87794L10.1488 10.1067L3.51298 5.87794L3.38286 7.09774L10.1488 11.4241Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.call .inner ul li a.phone span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_170_464' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='20'%3E%3Crect x='0.363281' y='0.541565' width='18.6372' height='18.6372' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_170_464)'%3E%3Cpath d='M15.8559 16.8491C14.2381 16.8491 12.6397 16.4964 11.0607 15.7911C9.4817 15.0857 8.04508 14.0859 6.75083 12.7916C5.45658 11.4974 4.45677 10.0608 3.75141 8.48179C3.04604 6.9028 2.69336 5.3044 2.69336 3.68659C2.69336 3.45363 2.77101 3.25949 2.92632 3.10418C3.08163 2.94887 3.27577 2.87122 3.50874 2.87122H6.65376C6.83496 2.87122 6.99674 2.93269 7.13911 3.05565C7.28147 3.1786 7.3656 3.3242 7.39148 3.49246L7.89624 6.21038C7.92213 6.41746 7.91566 6.59218 7.87683 6.73455C7.838 6.87692 7.76682 6.99987 7.66328 7.10341L5.78014 9.00596C6.03899 9.48483 6.34638 9.94752 6.7023 10.394C7.05822 10.8406 7.44973 11.2709 7.87683 11.6851C8.27805 12.0863 8.69868 12.4584 9.13872 12.8013C9.57877 13.1443 10.0447 13.4582 10.5365 13.7429L12.3614 11.918C12.4779 11.8015 12.63 11.7142 12.8176 11.6559C13.0053 11.5977 13.1897 11.5815 13.3709 11.6074L16.05 12.151C16.2312 12.2028 16.38 12.2966 16.4965 12.4325C16.613 12.5684 16.6713 12.7205 16.6713 12.8887V16.0337C16.6713 16.2667 16.5936 16.4608 16.4383 16.6161C16.283 16.7715 16.0888 16.8491 15.8559 16.8491Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.call button {
    position: absolute; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s;
    font-size: 26px;
}
.call .inner:hover ul { max-width: 400px; opacity: 1;} 
.call .inner:hover { animation: none ;
}
@keyframes none { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:rotate(0) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:rotate(0) } /* 애니메이션이 종료될때의 속성 */
}
.call .inner:hover button { opacity: 0;}

.intro {
    margin-top: 90px;
    height: calc(100vh - 90px);
}
.intro .wrapper {
    display: flex;
}
.intro .sec01 {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 160px 150px 0 60px;
}
.intro .sec01 span {
    position: absolute;
    left: 30px;
    top: 80px;
    font-weight: 700;
    font-size: 130px;
    color: #D0D0D0;
    display: block;
}
.intro .sec01 .photo {
    overflow: hidden;
    text-align: center;
    line-height: 0;
    font-size: 0;
}
.intro .sec01 .photo img {
    width: 272px;
    height: 272px;
    border-radius: 100%;
}
.intro .sec01 h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'pretandard';
    margin: 22px 0 20px 0;
}
.intro .sec01 p {
    font-size: 18px;
    line-height: 1.7;
    color: #333;
}
.intro .sec01 em {
    display: block;
    font-weight: 700;
}
.intro .sec01 h2 em {
    font-size: 20px;
    color: #333;
}
.intro .sec02 {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: 70px 0 0 50px;
    font-family: 'pretandard';
}
.intro .sec02 dl {
    width: 50%;
}
.intro .sec02 dl div {
    margin-bottom: 52px;
    font-weight: 700;
}
.intro .sec02 dt {
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: 1.5px underline;
}
.intro .sec02 dd {
    font-size: 21px;
    line-height: 2;
    display: flex;
}
.intro .sec02 dd span {
    margin-right: 40px;
}
.intro .sec02 .info05 dd {
    display: inline-block;
    padding: 1px 22px;
    border: 1px solid #0d0d0d;
    border-radius: 30px;
    margin: 0 10px 20px 0;
    line-height: 1;
}
.index {
    display: flex;
    height: 100vh;
    align-items: center;
}
.index h1 {
    padding: 0 95px 0 40px;
    background-color: #000;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}
.index .cnt {
    display: flex;
    margin-left: 115px;
    font-family: 'pretandard'
}
.index .cnt li {
    margin-right: 140px;
    position: relative;
}
.index .cnt li a {
    display: block;
}
.index .cnt li a .photo:hover {
    transform: scale3d(0.92,0.92,1);
}
.index .cnt li a .photo {
    width: 400px;
    height: 400px;
    transition: 0.3s linear;
}
.index .cnt li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index .cnt li a .sub {
    margin: 15px 0 12px 0;
}
.index .cnt li a .sub span {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}
.index .cnt li a .tit {
    font-size: 34px;
    font-weight: 700;
}
.index .cnt li.kps {
    margin-top: 20px;
}
.index .cnt li.hospital {
    margin-top: 120px;
}
.index .cnt button {
    transition: 0.3s linear;
    position: absolute;
    right: 0;
    top: 458px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid #0d0d0d;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54004 7.30225C0.987753 7.30225 0.540038 7.74996 0.540039 8.30225C0.54004 8.85453 0.987756 9.30225 1.54004 9.30225L1.54004 7.30225ZM20.0533 9.00932C20.4438 8.6188 20.4438 7.98563 20.0533 7.59511L13.6893 1.23116C13.2988 0.840634 12.6656 0.840635 12.2751 1.23116C11.8846 1.62168 11.8846 2.25485 12.2751 2.64537L17.932 8.30222L12.2751 13.9591C11.8846 14.3496 11.8846 14.9828 12.2751 15.3733C12.6657 15.7638 13.2988 15.7638 13.6893 15.3733L20.0533 9.00932ZM1.54004 9.30225L19.3462 9.30222L19.3462 7.30222L1.54004 7.30225L1.54004 9.30225Z' fill='black'/%3E%3C/svg%3E%0A");
}
.index .cnt button:hover {
    border: 1px solid #fff;
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54004 7.30225C0.987753 7.30225 0.540038 7.74996 0.540039 8.30225C0.54004 8.85453 0.987756 9.30225 1.54004 9.30225L1.54004 7.30225ZM20.0533 9.00932C20.4438 8.6188 20.4438 7.98563 20.0533 7.59511L13.6893 1.23116C13.2988 0.840634 12.6656 0.840635 12.2751 1.23116C11.8846 1.62168 11.8846 2.25485 12.2751 2.64537L17.932 8.30222L12.2751 13.9591C11.8846 14.3496 11.8846 14.9828 12.2751 15.3733C12.6657 15.7638 13.2988 15.7638 13.6893 15.3733L20.0533 9.00932ZM1.54004 9.30225L19.3462 9.30222L19.3462 7.30222L1.54004 7.30225L1.54004 9.30225Z' fill='white'/%3E%3C/svg%3E%0A");
}